#mainword{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 300px;
    text-shadow: 0 0 10px purple;
}
#mainword2{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px purple;
}
#mainword3{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px green;
}
#mainword4{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px blue;
}
#mainword5{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px pink;

}
#mainword6{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px purple;

}
#mainword7{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 100px;
    text-shadow: 0 0 10px yellow;

}
#mainword8{
    font-size: 50px;
    text-align: center;
    justify-content: center;
    padding: 50px;
    text-shadow: 0 0 10px yellowgreen;

}

#seconddiv{
}
#headdiv {
    width: 100%;
    height: 75%;
    color: white;
    text-align: center;
    background-size: cover;
    background: url('https://uhdwallpapers.org/download/macos-monterey_897687/1920x1080/');
    animation: rgb 2s infinite;
}
#headdiv5 {
    width: 100%;
    color: white;
    text-align: center;
    background-size: cover;
    padding: 20px;
    animation: rgb 2s infinite;
}
#headdiv2 {
    width: 100%;
    height: 75%;
    color: white;
    text-align: center;
    background-size: cover;
    background: url('https://4kwallpapers.com/images/wallpapers/neon-background-1920x1080-12487.jpg');
    animation: rgb 2s infinite;
}
#headdiv3 {
    width: 100%;
    height: 75%;
    color: white;
    text-align: center;
    background-size: cover;
    background: url('https://wallpapers.com/images/hd/big-data-database-td1nyj20hyzfffmt.jpg');
    animation: rgb 2s infinite;
}
body{
    background-color: black;
    color: whitesmoke;
    font-size: 24px;
    padding: 0;
    margin: 0;
}
#innerp1{
    background-color: grey;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px ;
    border-radius: 30px;
    padding: 20px;
    opacity: 100%;
}
.header{
    position: fixed; 
    top: 0;
    left: 0;
    margin-right: 20px;
    width: 85%;
    padding: 1.3rem 10%;
    color: white;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    color: inherit; 
    text-decoration: none; 
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Russo One', sans-serif;
}
img{
    display: block; /* Ensures the image is treated as a block-level element */
    margin-left: auto; /* Automatically adjusts margin on the left side */
    margin-right: auto;
}
*{
    font-family: 'Mitr', sans-serif;

}
.logo{
    font-weight: 500;
}
#example{
    background-color: black;
    width: 50%;
    height: 200px;
    padding: 20px;
}
#examplered{
    background-color: black;
    width: 50%;
    height: 200px;
    color: red;
    padding: 20px;
}
.navbar{

}
@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

  @keyframes rgb {
    0% { color: red; }
    25% { color: yellow; }
    50% { color: green; }
    75% { color: cyan; }
    100%{color: blue;}
  }
  @keyframes rgbbg {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: green; }
    75% { background-color: cyan; }
    100%{background-color: blue;}
  }

  @keyframes shiny {
    0% {  opacity: 0%; border-radius: 10%;color: red;}
    25% {  opacity: 50%;border-radius: 10%; color: red;}
    50% {   opacity: 100%;border-radius: 10%;color: red;}
    75% {  opacity: 50%;border-radius: 10%;color: red; }
    100%{  opacity: 0%;border-radius: 10%;color: red;}
  }


