#logo{
    animation: shiny 2s infinite;
}
.header{
    position: fixed; 
    top: 0;
    left: 0;
    margin-right: 20px;
    width: 100%;
    padding: 1.3rem 10%;
    color: white;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 600;
}
.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  @keyframes shiny {
    0% {  opacity: 0%; border-radius: 10%;color: red;}
    25% {  opacity: 50%;border-radius: 10%; color: red;}
    50% {   opacity: 100%;border-radius: 10%;color: red;}
    75% {  opacity: 50%;border-radius: 10%;color: red; }
    100%{  opacity: 0%;border-radius: 10%;color: red;}
  }
  @keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

  @keyframes rgb {
    0% { color: red; }
    25% { color: yellow; }
    50% { color: green; }
    75% { color: cyan; }
    100%{color: blue;}
  }
  @keyframes rgbbg {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: green; }
    75% { background-color: cyan; }
    100%{background-color: blue;}
  }
  body{
    background-color: aliceblue;
  }
  .portfolio{
    font-size:130;
    margin-top:100px;
    text-align: center;
  }
  #imagg{
      width: 300px;
      height: 300px;
      border: 3px;
      border-radius: 20;
      background-color: blue;
  }
  .conntainer{
    display: flex !important;
    flex-direction: column !important;
  }